{% set bem_block = 'frontpage' %}
  <main class="{{ bem_block }}">
    <div class="{{ bem_block }}__welcome">
      <video poster="{{ search_image_uri|image_style('klog_hero') }}" autoplay loop muted class="{{ bem_block }}__welcome-video">
        <source src="{{ file_url(search_video_uri) }}" type="video/mp4">{{ 'Your browser does not support the video tag'|t }}
      </video>
      <div class="{{ bem_block }}__container">
        <div class="{{ bem_block }}__welcome-inner">
          <h1 class="{{ bem_block }}__welcome-title">Welcome</h1>
          <div class="{{ bem_block }}__welcome-description">
            <p>Lorem ipsumdolor sit upoir. Lorem ipsum dolor sit upoir Lorem ipsum dolor situpoir Lorem ipsum dolor sit upoir Lorem ipsum dolor sit upoir Loremipsum dolor sit upoirvLorem ipsum dolor sit upoir. </p>
          </div>
          <div class="{{ bem_block }}__search">
            <input type="text" autocomplete="off" class="{{ bem_block }}__search-input" placeholder="Search blog articles">
            <button class="{{ bem_block }}__search-submit">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="{{ bem_block }}__author">
      <div class="{{ bem_block }}__container">
        <div class="{{ bem_block }}__author-inner">
          <img src="{{ author_avatar|image_style('thumbnail') }}" alt="Avatar" class="{{ bem_block }}__author-avatar">
          <div class="{{ bem_block }}__author-hello">Hello, i`m</div>
          <div class="{{ bem_block }}__author-name">Kate Wilson</div>
          <div class="{{ bem_block }}__author-about">Lorem ipsum lorem color four nice tags. Lorem ipsum lorem color four nice tags. Lorem ipsum lorem&#10 color four nice tags. Lorem ipsum lorem color four nice tags. Lorem ipsum lorem color four nice tags. Lorem ipsum lorem color four nice&#10   tags. Lorem ipsum lorem color four nice tags
          </div>
          <a href="{{ url('entity.node.canonical', { node: 3}) }}" class="{{ bem_block }}__author-more">More about author</a>
        </div>
      </div>
    </div>
    <div class="{{ bem_block }}__articles">
      <div class="{{ bem_block }}__container">
        <div class="{{ bem_block }}__articles-inner">
          <h2 class="{{ bem_block }}__articles-title">Latest blogs</h2>
          {{ drupal_view('blog_articles', 'frontpage_articles') }}
          <a href="{{ url('view.blog_articles.page') }}" class="{{ bem_block }}__articles-more">See blog</a>
        </div>
      </div>
    </div>
  </main>
